<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <a href="/signup"><p>Sign up</p></a>
    <a href="/login"><p>Log in</p></a>
    <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</div>